*{
    padding: 0px;
    margin: 0px;
    color: white;
}

.header{
    font-family: "Inter", sans-serif;
}

body {
    /* background-image: url('/home/abdul/Desktop/Atmosphere/atmosphere/public/Images/clouds.jpg'); */
    background-image: url('/home/abdul/Desktop/Atmosphere/atmosphere/public/Images/skyBG.jpg');
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the image fixed while scrolling */
  }
  